[Unit]
Description=Black Mesa Telemetry Service
After=network.target

[Service]
User=blackmesa
Group=blackmesa
ExecStart=/usr/bin/python3 /opt/blackmesa/status-server.py

[Install]
WantedBy=multi-user.target
