[Unit]
Description=Black Mesa Status Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/blackmesa/status-server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

